body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
* {
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0; 
    margin: 0;
}
#bg1{
    width: 1500px;
    margin: auto;
}


.bimg{
  position:fixed;
  height:100%;
  background-repeat:no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -2; 
  background-color: #ecf7ee; 
}

/*==navbar==*/
.navbox{
    background-color: #333;
    justify-content: center;
}

.navbar{
    padding-left: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    height: 150px;
    width: 1300px; 
    max-width: 100%;
    margin: auto;
    color: black;
    border-radius: 0%;
    margin-bottom: 50px;
    margin-top: -20px;
}

.menu{
    display: flex;
    margin-top: 20px;
   
}

.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 0.9px;
    transition: all ease 0.3s;
    font-weight: bolder;
}

.menu li a:hover{    
    color: rgb(9, 129, 9);
    transition: all ease 0.5s;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(17, 163, 24);
    font-size: 40px;
    margin-left: 100px;
}

.logo span{
    color: rgb(98, 236, 93);
    font-size: 60px;
    margin-right: 3px;
}

.rightnav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.rightnav a{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightnav .cart{
    color: #7bfa93;

}


.rightnav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #5a5a5a;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: #ffffff;
}

/*==searchbar==*/

#sback {
    display: flex;
    max-width: 900px;
    height: 300px;
    border-radius: 30px;
    background-color: rgba(236, 247, 238, 0.5); 
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: 100%;
    background-image: url(./img/sbar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.sbartext {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
    opacity: 1;
    justify-content: left; 
    font-family: 'Open Sans', sans-serif;
}

.sbartext h1{

    font-size: 3rem;
    line-height: 55px;
    counter-reset: #202020;
    text-align: start;
}
.sbartext :hover {
    cursor:default;
}
.sbartext :hover input{
    cursor: pointer;
}
.sbartext strong{
  color: #4eb060;
  font-size: 1.4rem;
  margin-top: 4px;
  text-align:start;

}
.sbox{
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 0px 5px 0px 20px;
  border-radius: 30px;

}
.sbox i{
   font-size: 1.3rem;
   color: #3b3b3b;
   margin: 0px 10px;
}
.sbox .sbar{
 height: 40px;
 border: none;
 width: 100%;
 padding: 0px 10px;
 outline: none;
}
.sbox .sbutton{
width: 220px;
height: 40px;
border-radius: 30px;
background-color: #4eb060;
border: none;
color: #FFFFFF;
outline: none;
cursor: pointer;
transition: all ease 0.3s;

}
.sbbox .sbutton:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
}
/*==category==*/
.category,
#item1{
    display: flex;
    flex-direction: column;
    max-width:1250px;
    margin: auto;
    margin-top: 80px;
    

    
}
.category{
    border-radius: 50px;
    padding-top: 30px;
}

.cathead h1 {
        margin-top: 30px;
        margin-bottom: -40px;
        font-family: 'Open Sans', sans-serif;
        font-size: xx-large;
        text-align: center;
        margin: 0 auto;
        max-width: 300px; 
        font-weight: 900;
}

.cathead,
.phead{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.cathead h2,
.phead h3{
    font-size: 1.56rem;
    font-weight:700 ;
    color: #202020;
    letter-spacing: 0.5px;
    
}
.cathead h2 {
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
    text-align: center; 
    
}
.cathead span,
#phead span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.categorybox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 130px;
}
#catimg{
    width: 150px;
    height: 150px;
    border-radius: 100px;
  
}
.category :hover h1{
    cursor:default;
}
.categorybox img{
    object-fit: contain;
    object-position: center;
    transition: all ease 0.5s;

}
.categorybox span{
  color: #393939;
  font-size:x-large;
  font-weight:bolder;
  margin-top: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.categorybox :hover img{
 transform: scale(1.1);
 transition: all ease 0.1s;
    
}
.categorybox :hover span{
 transform: scale(1.1);
 transition: all ease 0.1s;
 text-decoration: underline;
    
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-size: cover;
}
/*==popular==*/
.popular {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 50px;
}
.subcat {
    display: block;
    margin:20px 0 20px 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-decoration: none;
    color: rgb(100, 99, 100);
}

.subcat:hover {
    color: #000000;
    font-weight: bolder;
    cursor: default;
    border-radius: 50px;
}

.product-head {
    margin-bottom: 0px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.product-head :hover {
    cursor: default;
}




.product-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: auto;
}

.product-box {
    width: calc(20% - 10px);
    height: 100%;
    min-height: 333px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    margin-bottom: 20px; 
    padding: 10px;
    box-sizing: border-box;
}

.product-box img {
    width: 100%; 
    height: 150px; 
    object-fit: contain;
    object-position: center;
}

.product-box strong {
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box
}

.product-box .cart-btn {
    width: 90%; 
    height: 40px;
    background-color: #ecf7ee;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}

.product-box .cart-btn i {
    margin-right: 10px;
}

.product-box .cart-btn:hover {
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
}

.product-box .price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
}

.price span {
    margin-bottom: -5px;
    text-decoration: line-through;
    
}

.price p {
    margin: 0;
    font-size: x-large;
    color: #e53935;
}



/*footer*/
footer {
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
    color: #ffffff;
    overflow: hidden;
}

.footerbox {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerbox .footerlogo{
    margin: auto;
    margin-top: 50px;
    align-content: center;
    
}
.footerbox .footerlinks{
    margin: auto;
    margin-top: 50px;
    
}
.footerbox .footercontact{
    margin: auto;
    margin-top: 50px;
    
}

.footerlogo, .footerlinks, .footercontact, .social{ 
    margin: auto;
    text-align: center;
    flex: 1;
    margin-right: 20px;
    
}

.footerlogo a {
    margin: auto;
    color: #ffffff;
    font-size: 2rem; 
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none; 
    
}

.footerlogo p {
    margin: auto;
    margin-top: 10px; 
    
}

.social {
    margin: auto;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    
}

.social a {
    margin: auto;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid #ffffff15;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
    
}

.social a:hover {
    background-color: #4eb060;
    transition: all ease 0.3s;
}

.footerlinks strong, .footercontact strong { 
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600; 
}

.footerlinks ul, .footercontact p { 
    margin-top: 10px;
}

.footerlinks ul li a, .footercontact p {
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.footerlinks a{
    margin-bottom: 20px;
}

.footerlinks li a:hover {
    opacity: 1;
    transition: all ease 0.3s;
}
.mgindts{
    color: black;
}
.copyright {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.copyright p {
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}
/*making it responsive*/
.menuicon,
#menubtn{
    display: none;
}




    




@media (max-width: 1280px) {
    .logo {
        font-size: x-large;
        margin-left: 100px;
    }
    .logo span {
        font-size: 40px;
    }
    .menu li a {
        font-size: large;
        font-weight: 500;
        letter-spacing: 0.9px;
        transition: all ease 0.3s;
        font-weight: bolder;
    }
    #sback {
        width: 90%;
        height: 500px;
    }
    .popular,
    #item1 {
        width: 90%;
        padding: 50px 30px 0px 30px;
    }
}

@media (max-width: 1200px) {
    .product-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-box {
        width: calc(33.33% - 10px);
        margin: auto;
        margin-bottom: 40px;
    }
}

@media (max-width: 1150px) {
    .logo {
        margin: 0px;
    }
    .rightnav .cart {
        margin: 0;
    }
}

@media (max-width: 1050px) {
    .popular {
        width: 100%;
    }
    .sbackbg {
        width: 150px;
        height: 150px;
        top: -20px;
    }
    #sback {
        background-size: 100%;
    }
}

@media (max-width: 965px) {
    .navbar {
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .rightnav {
        margin-top: 25px;
    }
    .logo {
        font-size: large;
        padding-top: 10px;
    }
    .logo span {
        font-size: xx-large;
    }
    .navbar .menu {
        padding-top: 10px;
        margin-top: 10px;
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(245, 245, 245);
    }
    .navbar .menu li {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #ffffff;
    }
    .navbar .menu li a {
        background-color: #ffffff;
        color: black;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgba(248, 247, 247, 0.5);
    }
    .menuicon {
        display: block;
        padding-top: 10px;
        margin-top: 20px;
        color: white;
    }
    .navbar .menuicon {
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navbar .menuicon .navicon {
        background-color: #ffffffcc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease-out;
    }
    .navbar .menuicon .navicon::before,
    .navbar .menuicon .navicon::after {
        background-color: #ffffffcc;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.2s;
    }
    .navbar .menuicon .navicon::before {
        top: 7px;
    }
    .navbar .menuicon .navicon::after {
        top: -7px;
    }
    .navbar .menubtn:checked ~ .menuicon .navicon::before {
        transform: rotate(-45deg);
        top: 0px;
    }
    .navbar .menubtn:checked ~ .menuicon .navicon::after {
        transform: rotate(45deg);
        top: 0px;
    }
    .navbar .menubtn:checked ~ .menuicon .navicon {
        background-color: transparent;
    }
    .navbar .menubtn:checked ~ .menu {
        display: block;
    }
    #sback {
        height: 400px;
        background-size: 100%;
    }
    .sbackbg2 {
        width: 100px;
        height: 100px;
        top: -50px;
    }
    .categorybox {
        flex-wrap: wrap;
        justify-content: center;
    }
    .box {
        margin: 10px;
    }
    .footerbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footerlinks {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .product-box {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .subcat {
        margin: 20px auto;
        text-align: center;
    }
}

@media (max-width: 750px) {
    #sback {
        height: 300px;
    }
    .sbartext {
        margin-left: 20px;
    }
    .sbartext h1 {
        font-size: 2rem;
        line-height: 30px;
    }
    .sbackbg {
        display: none;
    }
}

@media (max-width: 500px) {
    #catimg {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
    table th {
        font-size: large;
    }
    table td {
        font-size: medium;
    }
    .branch2 img {
        width: auto;
        height: auto;
    }
    .branch1 img {
        width: auto;
        height: auto;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        font-size: large;
        margin-right: 50px;
        margin-top: 30px;
        padding-top: 10px;
    }
    .logo span {
        font-size: x-large;
    }
    .rightnav {
        margin-left: 50px;
    }
    .rightnav .cart {
        margin: 0;
    }
    #sback {
        height: 200px;
        background-size: 100%;
    }
    .sbartext {
        margin-left: 0px;
        max-width: 100%;
    }
    .sbox .sbutton {
        width: 120px;
        height: 30px;
    }
    .sbartext h1 {
        font-size: 1.3rem;
    }
    .sbox {
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-left: 10px;
    }
    .categorybox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 100%;
        margin: 0px;
        align-items: center;
    }
    .footerbox {
        grid-template-columns: 1fr;
    }
    .footerlinks {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .logo {
        margin-top: 10px;
    }
    .menuicon {
        margin-left: -20px;
    }
    .rightnav {
        margin-left: 40px;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .cathead h2,
    .phead h3 {
        font-size: 1.2rem;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category,
    #item1 {
        max-width: 100%;
        margin: 20px auto;
    }
    .categorybox {
        flex-direction: column;
    }
    .box {
        width: 90%;
        margin-bottom: 20px;
    }
    #catimg {
        width: 100px;
        height: 100px;
    }
    .product-container {
        width: 90%;
    }
    .product-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .subcat {
        text-align: center;
        margin-bottom: 10px;
    }
    .product-head h1 {
        font-size: 1.5rem;
    }
    .product-container {
        width: 90%;
    }
    .product-box {
        width: 100%;
    }
}
